#page3{
    background-image: url("../assets/bg2.png");
}
.image-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
}

.image-3 img {
    min-width: 100%;
    height: auto;
}