/* Page 2 */
#page2 {
    background-image: url("../assets/bg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 5em 0 5em; /* Adjusted padding-bottom */
    color: #182058;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.top-content {
    padding: 0 7em 0 7em;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
}

.left-content {
    flex: 1;
}

.second_col {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
}

.second_col p {
    padding-top: 1.6em;
}

.left-content h1 {
    width: 8em;
    line-height: 1.2em;
    font-weight: 400;
    font-size: 3.6em;
}

.left-content p {
    width: 30em;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    max-width: 600px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.gallery img {
    max-width: 100px;
    margin: 0 10px;
}

.arrow {
    font-size: 24px;
}

.bottom-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 3em;
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.column h1, .column h6 {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.column h6 {
    font-size: 1em;
    font-weight: 400;
    color: #707070;
}

.column p {
    margin: 10px 0;
}

#right-content {
    display: none;
}

@media (max-width: 1024px) {
    #page2 {
        display: flex;
        flex-direction: column;
        padding: 0 3em;
        width: 100%;
        height: auto;
        background-position: center;
    }

    #page2 .top-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2em 0 2em;
    }

    .left-content, .right-content {
        text-align: center;

    }
    .left-content h1{
        font-size: 2em;
        width: 75%;
    }

    .right-content {
        display: none;
    }

    #right-content {
        display: block;
        padding: 1em 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .bottom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Center the columns vertically */
        padding: 2em 0;
    }

    .column {
        width: 100%;
        margin: 1em 0;
        text-align: center; /* Center the content within columns */
        padding-right: 1em; /* Add padding to the right */
    }
}
