#page3{
    padding: 3em 5em 3em 5em;
    margin: 0;
}
#page3 section{
    background-image: url("../assets/images/kebab.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    margin: 0;

}
#page3 {

}
.text-3{
    padding-left: 6em;
    padding-top: 5em;
    padding-bottom: 5em;
}
.text-3 h6{
    font-size: 1.1em;
    font-weight: 300;
}
.text-3 h1{
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.5em;
    width: 45%;
}
.buttons-row-4{
    padding-left: 6em;
    display: flex;
    align-items: center;
    padding-bottom: 4em;
    margin-bottom: 4em;

}
.buttons-row-4 button{
    width: 4em;
    height: 4em;
    margin-right: 2em;
}
.buttons-row-4 p{
    width: 17%;
}
#kebab {
    display: none;
}

@media (max-width: 1024px) {
    #page3 {
        padding: 0;
        margin: 0;
        color: #182058;
        display: flex;
        flex-direction: column; /* Change back to column */
        align-items: center;
        text-align: center;
    }

    #page3 section {
        padding: 1em;
        background-color: #f5f5f5;
        border-radius: 0;
        width: 100%;
        background-image: none;
    }

    #page3 .text-3 {
        padding: 0;
    }
    #page3 .text-3 h1 {
        font-size: 1.5em;
        width: 100%;
    }
    #page3 #kebab {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: auto;
        justify-content: center;
        margin: 0;
    }
    #page3 .buttons-row-4{
        display: flex;
        flex-direction: row;
        padding:0;
        justify-content: center;
        align-items: center;
    }
    #page3 .buttons-row-4 button {
        width: 5em;
        height: 5em;
        margin-right: 1em;
        background-color: #ef4e4c;
    }
    #page3 .buttons-row-4 p{
        width: 60%;
        margin: 0;
    }
}

