
body {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#page1{
    background-image: url('../assets/images/bg-1.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 4em;
}

.landing-section {
    flex: 1;
    padding: 0 100px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 15em;
}


.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
}
.left-content h1{
    font-size: 5em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
.left-content, .right-content {
    width: 48%;
    padding: 20px;
}
.buttons-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
    align-items: center;

}
.buttons-row p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 2em;
    text-align: center;
    margin-top: 1em;
    margin-right: 5em;
}
.buttons-row button{
    width: 4em;
    height: 4em;

}
.right-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}
.button_down{
    transform: rotate(90deg);
}

#page1 .social-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:1em;

}
#page1 .social-icon img{
    width: 3.5em;
    height: 3.5em;
}

@media (max-width: 768px){
    #page1{
        padding: 0;
        margin: 0;
    }
    .landing-section{
        padding: 12em 2em 2em 2em;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .right-content{
        display: none;
    }
    .left-content{
        width: 100%;
        padding: 0;
        margin: 0;

    }
    .left-content .buttons-row{
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        gap: 20px;
    }
    .left-content .buttons-row #descopera{
        display: none;

    }
    .left-content .buttons-row button{
        width: 5em;
        height: 5em;
    }
    .left-content p{
        font-weight: 300;
        text-align: left;

    }
    .left-content h1{
        font-size: 4em;
        width: 80%;

    }
}