#page2 {
    background-image: url("../assets/bg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    height: 100vh;
    width: 100%;
    padding: 5em 0 25em 0;
    color: #182058;
}

.top-content {
    padding: 0 7em 0 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    flex: 1;

}
.second_col{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
}
.second_col p{
    padding-top: 1.6em;
}
.left-content h1{
    width: 8em;
    line-height: 1.2em;
    font-weight: 400;
    font-size: 3.6em;
}
.left-content p{
    width: 30em;
}
.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video {
    width: 100%;
    max-width: 600px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.gallery img {
    max-width: 100px;
    margin: 0 10px;
}

.arrow {
    font-size: 24px;
}

.bottom-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 7em 0 7em;
    z-index: 1;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.column h1, .column h6 {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
.column h6{
    font-size: 1em;
    font-weight: 400;
    color: #707070;
}

.column p {
    margin: 10px 0;
}