#page5{
    color:#FFFFFF;
    padding: 3em 8em 6em 8em;
    background-image: url("../assets/images/bg-5.png");
}
#page5 .text-5{
    font-weight: 300;

}
#page5 .text-5 h6{
    font-size: 1.1em;
    font-weight: 200;
}
#page5 .text-5 h1{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.2em;
    width: 30%;
}
#page5 .image-5 img{
    width: 100%;
}
#page5 .image-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 0 3em 0;
    gap: 1em;
}
#page5 .buttons-row-6{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}
.buttons-row-6 button{
    background-color: #ef4e4c;
    width: 4em;
    height: 4em;
}
.buttons-row-6 p{
    width: 10%;
}
@media (max-width: 1024px){
    #page5{
        padding: 5em 2em 3em 2em;
        background-image: url("../assets/images/bg-5.png");
    }
    #page5 .text-5{
        text-align: center;

    }
    #page5 .text-5 h1{
        width: 100%;
        text-align: center;
    }
    #page5 .image-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    #page5 .image-5 a{
        width: 100%;
    }
    #page5 .image-5 img{
        display: none;
    }
    #page5 #news{
        display: block;
        width: 100%;
    }
    #page5 #news a{
        width: 100%;
    }
    #page5 .buttons-row-6{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 2em;
        gap: 0;
    }
    #page5 .buttons-row-6 p{
        width: 65%;
        text-align: center;
    }
    #page5 .buttons-row-6 button{
        width: 5em;
        height: 5em;
    }
}