#page4{
    color:#FFFFFF;
    padding: 3em 8em 3em 8em;
    background-image: url("../assets/images/bg2.png");
}
#page4 .text-4{
    font-weight: 300;

}
#page4 .text-4 h6{
    font-size: 1.1em;
    font-weight: 200;
}
#page4 .text-4 h1{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.2em;
    width: 30%;
}
#page4 .image-4 img{
    width: 100%;
}
#page4 .image-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 0 3em 0;
}
#page4 .buttons-row-5{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}
.buttons-row-5 button{
    background-color: #ef4e4c;
    width: 4em;
    height: 4em;
}
.buttons-row-5 p{
    width: 10%;
}
@media (max-width: 1024px){
    #page4{
        padding: 1em 2em 1em 2em;
        background-image: url("../assets/images/bg2.png");
    }
    #page4 .text-4{
        text-align: center;

    }
    #page4 .text-4 h1{
        width: 100%;
        text-align: center;
    }
    #page4 .image-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #page4 .image-4 img{
        width: 100%;
    }
    #page4 .image-4 a{
        width: 100%;
    }
    #page4 .buttons-row-5{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 2em;
        gap: 0;
    }
    #page4 .buttons-row-5 p{
        width: 80%;
        text-align: center;
    }
    #page4 .buttons-row-5 button{
        width: 6em;
        height: 6em;
    }

}