#page6{
    color:#FFFFFF;
    padding: 3em 8em 6em 8em;
    background-image: url("../assets/images/bg-5.png");
}
#page6 .text-6{
    font-weight: 300;

}
#page6 .text-6 h6{
    font-size: 1.1em;
    font-weight: 200;
}
#page6 .text-6 h1{
    font-size: 2.5em;
    font-weight: 400;
    width: 60%;
    line-height: 1.5em;
}
#page6 .buttons-row-6{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2em;
    gap: 1em;
}
#page6 .buttons-row-6 p{
    width: 10em;
}
.newsletter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
.newsletter input{
    width: 20em;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    color: black;
}
.newsletter button{
    background-color: #ef4e4c;
    width: 4em;
    height: 4em;
}
.newsletter p{
    width: 15%;
}
.newsletter input[type=email]{
    width: 20em;
    height: 3em;
    border: none;
    outline: none;
    background-image: url("../assets/images/bg-5.png");
    color: #FFFFFF;
}
.newsletter input[type=email]::placeholder{
    color: #707070;
}
.newsletter button{
    background-color: #ef4e4c;
    width: 4em;
    height: 4em;
}
.newsletter p{
    width: 15%;
}
@media (max-width: 1024px) {
    #page6{
        padding: 3em 2em 6em 2em;
    }
    #page6 .text-6 h1{
        width: 100%;
        font-size: 1.8em;
        padding: 0;
        text-align: center;
    }
    #page6 .text-6 h6{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .newsletter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .newsletter p{
        width: 100%;
        padding: 0;

    }
    #page6 .buttons-row-6{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2em;
        gap: 1em;
    }
    #page6 .buttons-row-6 p{
        width: 65%;
        text-align: center;
    }
    #page6 .buttons-row-6 button{
        width: 5em;
        height: 5em;
    }
}