@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(../assets/images/bg_small.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: auto 100%;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.5em;
    overflow-x: hidden;
    min-width: 100vw;
}
nav{
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    gap: 3em;
    align-items: center;
}
nav img{
    width: 13em;
    height: auto;
}
nav .tasty_logo{
    width: 5em;
    height: auto;
}
main{
    padding-top: 15em;
    padding-left: 2em;
    padding-right: 2em;

}
main p{
    padding: 0;
    margin: 0;
}
main .header_text {
    font-size: 96px;
    font-weight: 500;
    line-height: 1em;
    width: 80%;
    padding: 20px 0 0 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em;
}
.container img{
    width: 100%;
    padding: 0;
    margin: 0;
}
.first img,
.second img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}


.hover-image-first,
.hover-image-second {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.first:hover .hover-image-first,
.second:hover .hover-image-second {
    opacity: 1;
    display: block;
}


.first,
.second {
    position: relative;
    padding: 0;
    margin: 0;
}

.hover-image-first,
.hover-image-second {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}



@media (min-width: 1024px) {
    body{
        background-image: url(../assets/images/bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }


    nav {
        padding-top: 3em;
        padding-left: 7em;
        padding-right: 7em;
    }

    nav img {
        width: auto;
        height: 4em;
    }

    nav .tasty_logo {
        width: 7em;
        height: auto;
    }

    main {
        display: flex;
        flex-direction: row;
        padding-left: 7em;
        padding-right: 7em;
        padding-top: 7em;
        gap: 4em;
    }

    main .text {
        display: flex;
        flex-direction: column;

    }
    main .text h1, main .text p{
        justify-content: center;
        font-size: 3.5em;
    }

    main .header_text {
        font-size: 3.5em;
        font-weight: 500;
        line-height: 1.2em;
        margin-bottom: 1em;
        width: 7em;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 20em;
        margin-left: auto;
    }
    .container img{
        width: 100%;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 20em;
    }

}